<!--500エラーページ-->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="file:///Users/kosari/Documents/vscode/n_connect/static/style.css">
    -->
    <title>[エラー]CoCPCのNotionバックアップツール</title>
    <style>
        h1 { color: red; }
    </style>
</head>
<body>
<div class="main">
    <h1>⚠️ サーバーエラーが発生しました</h1>
    <p>申し訳ありません。もう一度試してください。</p>
<div class="error">
    <p>考えられる原因：</p>
    <ul>
        <li>駒にステータス(HP・MP・SAN)が設定されていない</li>
        <li>駒にパラメーター(STR・CON・POW…)が設定されていない</li>
        <li>ココフォリアの駒コピー・いあきゃらの駒出力以外のデータを貼り付けている</li>
      </ul>
</div>
    <a href="/">トップページに戻る</a>
</div>
</body>
</html>