<!--app.pyのHTML-->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- リンクカード設定 -->
    <meta property="og:title" content="CoCPCのNotionバックアップツール">
    <meta property="og:description" content="ココフォリアといあきゃらから駒データをNotionに送るツール！"> <!-- 説明文（リンクカードのサブテキスト） -->
    <meta property="og:image" content="https://mo-oku.github.io/n_connect/static/linkcard.jpg"> <!-- 画像（リンクカードに表示されるサムネイル） -->
    <meta property="og:url" content="https://n-connect-app.onrender.com"> <!-- URL（共有されたときのリンク先） -->
    <meta property="og:type" content="website"> <!-- サイトの種類 -->

    <!-- Twitter用リンクカード設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CoCPCのNotionバックアップツール">
    <meta name="twitter:description" content="ココフォリアといあきゃらから駒データをNotionに送るツール！">
    <meta name="twitter:image" content="https://mo-oku.github.io/n_connect/static/linkcard.jpg">    

    <title>CoCPCのNotionバックアップツール</title>
</head>

<body>

    <header>
        <h1>CoC駒データをNotionに送信するツール</h1>
        <ol>
            <li>自分のNotionからAPIキーとデータベースIDを取得</li>
            <li>ココフォリアから駒をコピー または いあきゃらから駒出力</li>
            <li>各項目を入力して送信！</li>
            <li>自分のNotionに駒データが入力される！</li>
        </ol>
        <p><a href="https://proud-earwig-79b.notion.site/CoC-Notion-18daf2e6ffba80e99daed59ae65a9a98?pvs=4" target=”_blank”>更新履歴・詳しい使い方・当ツール用データベーステンプレ配布ページ</a></p>
    </header>

<div class="main">
    <form method="POST">
        <label>Notion API キー</label>
        <input type="password" name="n_api_key" value="{{ n_api_key }}" required><br><br>
    
        <label>Notion データベース ID</label>
        <input type="text" name="n_database_id" value="{{ n_database_id }}" required><br><br>
    
        <label>駒データ</label><br>
        <textarea name="encoded_data" placeholder="ココフォリア駒コピーまたはいあきゃら駒出力をここにペースト" required></textarea><br><br>
    
        <button type="submit">送信</button>
    </form>
    
    <p>{{ message }}</p>
</div>

<div class="log">
    <h2>結果ログ</h2>
    <table border="1">
        <tr>
            <th>日時</th>
            <th>メッセージ</th>
        </tr>
        {% for log in logs %}
        <tr>
            {% set parts = log.split(" - ") %}
            <td class="time">{{ parts[0] }}</td>
            <td class="message">{{ parts[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
</body>

<footer>
    <p>不具合やアドバイスなどは <a href="https://x.com/M99245" target=”_blank”>Twitter(X)@M99245</a> のDMまで</p>
    <p>改善案など積極的に募集しています！</p>
</footer>
</html>

